:root {
  --info: #3498db; /* Blue */
  --info-text: #ffffff; /* White text for info */
  --ok: #2ecc71; /* Green */
  --ok-text: #ffffff; /* White text for ok */
  --danger: #e74c3c; /* Red */
  --danger-text: #ffffff; /* White text for danger */
  --warn: #f39c12; /* Yellow */
  --warn-text: #ffffff; /* White text for warn */
  --neutral: #95a5a6; /* Gray */
  --neutral-text: #000000; /* Black text for neutral */
}


.main-cont {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.act-cont {
  margin-top: 30px;
}

.act-cont button:nth-child(1){
  margin-right: 10px;
}

h1 {
  padding: 0 30px;
  text-align: center;
}

span {
  position: fixed;
  right: 30px;
  bottom: 30px;
}